@page "/"


<DismissableAlert @bind-Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>

<Timer TimeInSeconds="5" Tick="@ToggleAlert" />

<button @onclick="@ToggleAlert">Toggle</button>




@code {
    private ElementReference elementReference;


    public bool ShowAlert { get; set; } = true;
    public void ToggleAlert()
    {
        Console.WriteLine("+++");
        ShowAlert = !ShowAlert;

    }

}
